body{
	background-color:black;
}

h1{
	margin:0;color:whitesmoke;text-align:center;font-family:'Roboto Mono',monospace;
}

h2{
	margin:0;color:whitesmoke;text-align:center;font-family:'Roboto Mono',monospace;margin-bottom:100px;
}

p{
	margin:0;margin-left:50px;margin-right:50px;margin-bottom:100px;color:whitesmoke;font-family:'Roboto Mono',monospace;
}

.button{
	margin: 0 auto;display: block;border:solid;border-color:darkred;background-color:red;border-radius:5px;width:100px;height:40px;color:white;transition:.15s;
}

.button:hover{
	cursor:pointer;background-color:pink;border-color:red;color:black;
}

.button:active{
	cursor:pointer;background-color:whitesmoke;border-color:pink;color:black;
}